
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #e5e5e579;
}

.tela1, .tela3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
}

header {
    width: 100%;
    height: 80px;
    color: white;
    font-size: 40px;
    font-weight: 700;
    position: fixed;
    top: 0;

    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quizzUsuario {
    width: 1100px;
}

.quizzUsuario .semQuizz {
    width: 100%;
    height: 180px;

    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: white;

}

.tela1 .semQuizz h1 {
    font-size: 20px;
    color: #B9B9B9;
    margin-bottom: 30px;
}

.tela1 .semQuizz div {
    width: 250px;
}

.tela1 .semQuizz button {
    width: 136px;
    height: 40px;
    font-size: 21px;
    color: #EC362D;
    background-color: white;
    border: 1px dashed #EC362D;
    border-radius: 50px;
}

.tela1 .quizzSalvos{
    font-weight: 700;
    font-size: 20px;
    
}

.tela1 .quizzSalvos ul{
    justify-content: flex-start;
}

.tela1 .quizzSalvos div div{
    display: flex;
    align-items: center;
}

.tela1 .quizzSalvos ion-icon{
    color: #EC362D;
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

button:active ,ion-icon:active, li:active{
    transform: translatey(2px);
}
button:hover ,ion-icon:hover, li:hover{
    cursor: pointer;
}

.tela1 .container, .tela3 .container{
    width: 1100px;
    margin-top: 60px;

    font-size: 20px;
}

.tela1 .container h1, .tela3 .container h1{
    margin-bottom: 10px;
    font-weight: 700;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

ul li.quizz, .tela3 .quizz{
    width: 340px;
    height: 180px;
    color: white;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    margin: 10px;
}

li.quizz h1, .tela3 .quizz h1{
    margin: 10px 10px;
    font-weight: 400;
}

.hidden{
    display: none;
}

.tela3 .comeco h1,.tela3 .criarPerguntas h1{
    margin-bottom: 30px;

}

.tela3 .criarQuizz, .tela3 .caixaPergunta, .tela3 .quizzPronto{
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tela3 .caixaPergunta{
    width: 600px;
    min-height: 256px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-bottom: 20px;
}

.tela3 .caixaPergunta input{
    width: 564px;
    height: 46px;
    margin: 6px 0px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    font-style: italic;
    font-size: 20px;
}

.tela3 button{
    width: 370px;
    height: 54px;
    background-color: #EC362D;
    color: white;

    font-size: 20px;
    border: none;

    border-radius: 15px;
    margin-top: 60px;
}

.tela3 button.home{
    margin-top: 10px;
    background-color: unset;
    color: #818181;
}

.tela3 .quizzPronto{
    display: none;
}

@media (max-width: 1100px){
    .tela1 .quizzUsuario,.tela1 .container{
        width: 380px;
    }
}